body {
font-family: 'Dosis', sans-serif;
margin: auto;
}

.welcome_bg_image {
background: url('images/Project1-HP-bg-001.jpg') no-repeat top left;
background-size:cover;
}

.welcome_content {
margin-left: 200px;
margin-right:200px;
}

#game_logo {
width: 380px;
height: 218px;
float:right;
}

#logo img {
	position: absolute;
	top: 0px;
}

.welcome_box {
clear:both;
padding-top:200px;
width:1069px;
height:500px;
margin-left:auto;
margin-right:auto;
background: url('images/scrollbg-01.png') no-repeat top left;
}

input#inputsm {
    width: 70%;
    margin-left: 80px;
}

/*#quiz {
    visibility: hidden;
}*/

.welcome_content {
opacity:1 !important;
}

.player_box {
clear:both;
display:none;
margin-left:auto;
margin-right:auto;
width:1069px;
height:500px;
text-align:center;
}

.player1_left {
float:left;
width:50%;
}

.player2_right {
float:right;
width:50%;
}
