body {
	font-family: 'Dosis', sans-serif;
	margin: auto;
}

.welcome_bg_image{
	background: url('images/Project1-HP-bg-001.jpg') no-repeat top left;
	background-size:cover;
	margin-top: -50px;
}

.container {
    width: 1080px;
    height: auto;
    align-content: center;
    margin-left: 10px;
}

img.logo {
    float: right;
    width: 200px;
    margin-top: 150px;
    margin-right: 150px;
    position: relative;
}

.center{
	margin-left: 110px;
	margin-right:200px;
}

#instructions {
    background: url(images/scrollbg-01.png) no-repeat;
    float: inherit;
    width: 100%;
    height: 500px;
    margin-top: 230px;
}

.welcome_content{
	opacity:1 !important;
}

.player1_left{
	float:left;
	width:50%;
}

.player2_right{
	float:right;
	width:50%;
}


.welcome_content{
	opacity:1 !important;
}

.player1_left{
	float:left;
	width:50%;
}

.player2_right{
	float:right;
	width:50%;
}
